@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;

	--trans-dur: 0.3s;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.gradient,
.gradient-3 {
	z-index: -4;
	max-width: 640px;
	background-image: radial-gradient(
			at 27% 37%,
			hsla(215, 98%, 61%, 1) 0px,
			transparent 0%
		),
		radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 0.6) 0px, transparent 50%),
		radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 0.6) 0px, transparent 50%);
	position: fixed;
	content: "";
	width: 100dvw;
	height: 50dvh;
	filter: blur(100px) saturate(150%);
	opacity: 0.15;
}

.gradient {
	top: 20%;
}

.gradient-3 {
	bottom: 0;
	right: -20%;
}

.gradient-2 {
	content: "";
	background-image: url("/grid.svg");
	z-index: -5;
	position: fixed;
	width: 100dvw;
	height: 100dvh;
	top: 0;
	opacity: 0.4;
	margin-left: -16px;
	filter: invert(1);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.loader {
	position: fixed;
	width: 100vw;
	display: grid;
	place-items: center;
	inset: 0;
	min-height: 100dvh;
	background-color: rgba(0, 0, 0, 0.8);
	transition: background-color var(--trans-dur);
	z-index: 200;
}
.ip {
	width: 5em;
	height: 2.5em;
}
.ip__track {
	stroke: #fff;

	transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 2s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
}

/* Animation */
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
}
